.login-form {
  text-align: center;

  .form-field {
    width: 100%;
  }

  .btn-submit {
    margin-top: 15px;
    width: 200px;
  }

  .button-icon {
    cursor: pointer;
    display: inline-block;
  }
}
