<form [formGroup]="postForm" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name"
           [errorStateMatcher]="errorStateMatcher">
    <mat-error *ngIf="controls.name.invalid && (controls.name.dirty || controls.name.touched)">Обязательное поле</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Message</mat-label>
    <textarea matInput formControlName="message"
              [errorStateMatcher]="errorStateMatcher"></textarea>
    <mat-error *ngIf="controls.message.invalid && (controls.message.dirty || controls.message.touched)">Обязательное поле</mat-error>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Save</button>
</form>
